<% provide(:title, @micropost) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
     <ol class="microposts">
        <%= render @micropost %>
      </ol>
      </h1>
    </section>
  </aside>
